@{
    ViewBag.Title = "About";
}

<script src="~/Scripts/parallax.js"></script>
<style>
    section {
        background: #fff;
        padding-top: 20px;
        padding-bottom: 50px;
    }


    .parallax-container {
        display: table;
        width: 100%;
    }
</style>
<style>

</style>
<div  class="parallax-container" data-parallax="scroll" data-image-src="/Images/unnamed (3).jpg" style="height: 900px;" data-iosfix="true" data-androidfix="true">
    <div class="container" style="color:white; margin-top:250px; padding-bottom:200px">
        <div class="row" style="background-color: rgba(0,0,0,0.8);">
            <div class="col-md-6">
                <div class="row text-center">
                    <br />
                    <div class="col-md-12" id="titlewhite" style="font-size:70px; font-weight:bold;">Our Vision</div>
                    <br />
                    <div class="col-md-12" style="font-size:30px;">
                        <p id="pcontentwhite">To provide outstanding customer service and 
                        quality goods that exceeds the expectation of our valued clients.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <br />
                <div class="col-md-12" id="titlewhite" style="font-size:70px; font-weight:bold;" >Our Mission</div>
                <div class="col-md-12" style="font-size:30px;">
                  
                    <ul id="pcontentwhite">
                        <li>To build a good reputation in the field of sportswear tailoring industry.</li>
                        <li>To aim for continued innovation for the improvement of our services and products.</li>
                    </ul>
                    

                   
                </div>
            </div>




        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h3 style="font-size:70px; font-weight:bold; color:black;">HISTORY</h3>
                <p style="font-size:16px">Armor On has been established as a sportswear tailoring company. It started with only one employee, a tailor, and with only fitness leggings and sports tank tops to sew and sell. Owners and brothers, Kevin and Mark Espinosa, being basketball enthusiasts themselves, decided to diversify the company's scope and services. The company invested in heavy duty sewing machines, searched for suppliers, rented a space as their headquarters and five more employees later, the company was officially up and running. Armor On initially started to make custom made basketball uniforms which are digitally designed by the company's artist. Soon, volleyball, baseball, practical shooting uniforms among others, was also produced. Eventually, jackets as company merchandise plus reunion and campaign shirts in large quantities were also manufactured. Today, Armor On continuously develops their craft and aim to expand their area of expertise.</p>
                 
            </div>

        </div>
    </div>
</section>
<div class="parallax-container" data-parallax="scroll" data-image-src="/Images/15.jpg" style="height: 900px;" data-iosfix="true" data-androidfix="true">
    <div class="container" style="color:white; margin-top:300px; padding-bottom:200px">
        <div class="row" style="background-color: rgba(0,0,0,0.8);">
            <div class="col-md-12">
                <div class="row text-center">
                    <br />
                    <div class="col-md-12" id="titlewhite" style="font-size:70px; font-weight:bold;">Our Purpose</div>
                    <br />
                    <div class="col-md-12" style="font-size:30px;">
                        <p id="pcontentwhite">
                            To be a leader in the sportswear tailoring industry by providing the best service continued innovation and long term relationships with clients.
                        </p>
                        <br />
                    </div>
                </div>
            </div>
            



        </div>
    </div>
</div>


@*<section>*@
    @*<div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h3>IN THE TIME OF RETRO </h3>
                <p>The 70’s were not a merry season for the press. This period of supposedly colors and music was dimmed by the suppression of freedom of expression. </p>
                <p>However, with fresh belief in the newly established form of government—still with hope— LANCE staffers opted not to contradict the government but educate the students about new decrees and laws. A section in the opinion page was devoted to chronicling political changes so that the readers may understand these.</p>
                <p>Aside from straight news and opinions, the pages of The LANCE were also filled with artful prose and poetry that showcased the creativity of the writers. A co-ed’s corner featured the beautiful faces in school.</p>
                <p>Aside from straight news and opinions, the pages of The LANCE were also filled with artful prose and poetry that showcased the creativity of the writers. A co-ed’s corner featured the beautiful faces in school.</p>
                <p>Staffers also conducted regular interviews with students to know their complaints against and suggestions for the administration. Knowing the pulse of the students gave The LANCE a clearer voice to speak out.</p>
            </div>

        </div>
    </div>*@
@*</section>*@
@*<div class="parallax-container" data-parallax="scroll" data-image-src="/Images/15.jpg" style="height: 1000px;" data-iosfix="true" data-androidfix="true"></div>*@

