
@{
    ViewBag.Title = "Clients";
}
<br />
<br />
<br />
<br />
<br />
<center><h2 style="font-weight:bold; color:white"> Top Clients</h2></center>
<br />
<body style="background-color:black">
   <center><div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="~/Images/herballife.png" />
        </div>
        <div class="col-sm-4">
            <img style="padding-top:1%"class="img-responsive" src="~/Images/kultura.jpg" />
        </div>
        <div class="col-sm-4">
            <img class="img-responsive"style="width:400px; height:250px;" src="~/Images/toyota.png" />
        </div>
        </div> </center>
</body>