
@{
    ViewBag.Title = "Gallery";
}
<br/>
<br/>
<br/>
<br/>
<br/>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Freebie: 4 Bootstrap Gallery Templates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="gallery-clean.css">

</head>
<body style="background-color:black">
    <div class="container gallery-container">
        <h1 style="font-weight:bold; color:white;">Armor On Gallery</h1>
        @*<p class="page-description text-center" style="color:lightgray">Checkout our Designs</p>*@

        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/1.jpg">
                            <img src="../images/1.jpg" style="width:800px"alt="Park">
                        </a>
                        <div class="caption">
                            <h3>SAMPLE JERSEY DESIGN</h3>
                            <p>Jersey of Hydro Techno, Paco Catholic School (Alumni Association), Armor On Philippines, Sero One, Macway Liberty and Hobe Macway.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/6.jpg">
                            <img src="../images/6.jpg" alt="Bridge">
                        </a>
                        <div class="caption">
                            <h3>STAR PLAYERS</h3>
                            <p>Some PBA players and Pro-Basketball players wearing our product jersey in different teams.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/7.jpg">
                            <img src="../images/7.jpg" alt="Tuneel">
                        </a>
                        <div class="caption">
                            <h3>Customize Jersey</h3>
                            <p>We can customize your jersey base on your specifications and requirements.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/8.jpg">
                            <img src="../images/8.jpg" alt="Coast">
                        </a>
                        <div class="caption">
                            <h3>KINGPINS TEAM</h3>
                            <p>Thank you Kingpins team for trusting Armor On Philippines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/9.jpg">
                            <img src="../images/9.jpg" alt="Rails">
                        </a>
                        <div class="caption">
                            <h3>PRIMUS TEAM</h3>
                            <p>Satisfied customer. Thank you Primus!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/10.jpg">
                            <img src="../images/10.jpg" alt="Traffic">
                        </a>
                        <div class="caption">
                            <h3>TANKTOP SAMPLE</h3>
                            <p>Example designs of Tanktop. Contact us for your orders.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/15.jpg">
                            <img src="../images/15.jpg" alt="Traffic">
                        </a>
                        <div class="caption">
                            <h3>PBA PLAYERS AND CELEBRITY</h3>
                            <p>Some PBA players and celebrity wears Armor On.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/16.jpg">
                            <img src="../images/16.jpg" alt="Traffic">
                        </a>
                        <div class="caption">
                            <h3>GILAS PILIPINAS</h3>
                            <p>We created Gilas Pilipinas Jersey. Laban Pilipinas!</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/unnamed (2).jpg">
                            <img src="../images/unnamed (2).jpg" alt="Traffic">
                        </a>
                        <div class="caption">
                            <h3>UP & DOWN SAMPLE DESIGNS</h3>
                            <p>One of our objective is to satisfy our customer by providing a high quality of products.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/unnamed (3).jpg">
                            <img src="../images/unnamed (3).jpg" alt="Traffic">
                        </a>
                        <div class="caption">
                            <h3>COMPRESSION SHIRT</h3>
                            <p>PBA Players who wears compression shirt.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/unnamed (10).jpg">
                            <img src="../images/unnamed (10).jpg" alt="Traffic">
                        </a>
                        <div class="caption">
                            <h3>CUSTOMIZED JERSEY</h3>
                            <p>We accept any designs for your jerseys.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="../images/unnamed (12).jpg">
                            <img src="../images/unnamed (12).jpg" alt="Traffic">
                        </a>
                        <div class="caption">
                            <h3>ARMOR ON OTHER PRODUCTS</h3>
                            <p>Armor On Philippines offer different services and products like customize jacket, uniforms for your business, shirt, shorts, jogging pants and many more.</p>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
    baguetteBox.run('.tz-gallery');
    </script>
</body>
</html>
