
@{
    ViewBag.Title = "SizeChart";
}
<br />
<br />
<br />
<br />
<br />
<center><h2 style="font-weight:bold; color:white">Size Chart</h2></center>
<body style="background-color:black">

    <center> <img style="height:410px; width:710px" ; src="~/Images/sizechart.png" /> </center>
    </body>

